.teachers{
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #F3F6FD;
}
.teachers__title{
    margin-bottom: 25px;
}

.teachers__content{
    display: flex;

    padding-bottom: 20px;
}

.teacher{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 12px;

    width: 340px;
    
    
    box-sizing: border-box;
    padding: 25px;

    margin-right: 20px;

    text-align: center;
    
    background-color: #fff;
}
@media screen and (max-width: 575px) {
    .teacher{
        width: 250px;
    }
}

.teacher__imgs{
    display: flex;
}

.teacher__img{
    border-radius: 100%;
}

.teacher__img-inner{
    border-radius: 100%;

    width: 150px;
    height: 150px;

    object-fit: cover;
}
@media screen and (max-width: 575px) {
    .teacher__img-inner{
        width: 100px;
        height: 100px;
    }
}


.segno{
    max-width: 150px;
    height: auto;
}
@media screen and (max-width: 575px) {
    .segno{
        width: 100px;
        height: 100px;
    }
}



.teacher__title{
    line-height: 1.25;
}
.teacher__text{
    line-height: 1.55;

    text-align: left;
}