.about__content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
@media screen and (max-width: 992px) {
    .about__content{
        display: grid;
        grid-template-columns: 1fr;
    }
}
.about__title{
    margin-bottom : 20px;
    max-width: 70%;
}   
.about__video{
    grid-row: 1/3;
    grid-column: 2/3;
    
    justify-self: end;

    width: 100%;
    height: 100%    3;
}
@media screen and (max-width: 992px) {
    .about__video{
        grid-column: 1 /2 ;
        grid-row: 1 /2;
        justify-self: start;
        margin-bottom: 40px;
    }
}
.about__list{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .about__list{
        display: block;
    }
        
}
.about__item{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
}
@media screen and (max-width: 768px) {
    .about__item{
        display: block;
        border-bottom: 1px solid #DCDCDC;
    }
    .about__item:last-child{
        border-bottom: none;
    }
        
}
.about__item-title{
    text-align: center;
}
.about__item-subtitle{
    text-align: center;
}



.about__docs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
@media screen and (max-width: 992px) {
    .about__docs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}
@media screen and (max-width: 768px) {
    .about__docs{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
}


.about__doc{
    position: relative;

    line-height: 28px;
    padding: 24px 24px 80px;

    color: rgb(0,149,111);
    background-color: rgba(0,149,111, .1);
}
@media screen and (max-width: 768px) {
    .about__doc{
        position: unset;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 24px;
    }
}
.about__doc:hover{
    color: rgb(42,33,115);
    background-color: rgba(42,33,115, .1)
}


.about__doc-text{
    font-weight: 600;
}

.about__doc-icon{
    position: absolute;
    bottom: 24px;
    left: 24px;
}
@media screen and (max-width: 768px) {
    .about__doc-icon{
        position: unset;  
    }
}