{% load static%}
<section>
    <section class="post">
        <div class="container">
            <div class="post__content">
                <h1 class="post__title">
                    {{ post.title }}
                </h1>
                <div class="post__details">
                    {% for category in post.categories.all %}   

                        <a href="/news/{{category.slug}}/">
                            <h2 class="post__author">{{ category.title }}</h2>
                        </a>
                    {% endfor %}
                    
                

                    <span class="post__date">
                        {{ post.date }}
                    </span>
                </div>
                <div class="post__banner">
                    {% if post.banner %}
                      <img src="{{ post.banner.url }}" alt="" class="post__img">
                    {% endif %}
                </div>
                <hr class="post__line">
                {{ post.description|linebreaks }}
                
                
                {% for img in post.images.all %}  
                    <img src='{{img.image.url}}' alt="{{ img.title}}"> 
                {% endfor %}

                <br>
                <p>
                    {% if post.files.all %}
                        <b>Файлы:</b> 
                        {% for file in post.files.all %}
                            <a href="{{ file.file.url}}" alt="{{ file.title }}">{{ file.title }}</a>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </section>
</section>