.top{
    background-color: #F3F6FD;
}

.top__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .top{
        display: none;
    }
}





.header{
    max-height: auto;
    
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.header__inner{
    display: grid;
    grid-template-columns: auto 1fr max-content;
    align-items: center;
}

.header__phones{
    display: flex;
    justify-self: end;
    margin: 0 20px;
}
.header__phone{
    margin: 5px;
}


.haeder__log-wrapper{
    display: flex;
    align-items: center;
}


.header__logo{
    max-height: 60px;
}

.header__logo-text{
    font-size: 12px;
    font-weight: 700;

    line-height: 1.15;
}


@media screen and (max-width: 768px) {
    .header__logo{
        justify-self: start;
    }
    .header__phones{
        display: none;
    }
    .header__burger{
        /* grid-row: 1 / 2; */
        /* grid-column: 2 / 3; */
        justify-self: end; 
    }

}


.header__burger{
    padding-left: 30px;
}
@media screen and (max-width: 560px) {
    .header__phones{
        justify-self: center;
    }
}



.header__educations{
    border-top: 1px solid rgba(128, 128, 128, 0.2);

    padding: 20px 0;
    
    display: flex;
    justify-content: flex-start;
    
    font-weight: 700;

    overflow-x:scroll;
    scrollbar-width: none;
}
.header__educations::-webkit-scrollbar{
    display: none;
}
.header__education{
    margin-right: 50px;
}

.header__button{
    justify-self: end;

    padding: 5px;
    box-sizing: border-box;
    
    border-radius: 4px;
    border: 2px solid #2A2173;

    transition: .2s all;
}
.header__inner_2{
    display: flex;
    justify-content: end;
}
.header__button:hover{
    background-color: #2A2173;
    color:  white;
}



.haeder__content{
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__inner_2{
    display: none;
}
@media screen and (max-width: 575px){
    .header__inner > .header__button{ 
        display: none;
    }
    .header__inner_2{
        display: flex;
    }
}