{% load static %}
<div class="admission">
  <div class="container">
      <div class="admission__title h2 text_blue">
          Приемная комиссия <span>2022</span>
      </div>
      <div class="admission__subtitle">
          Начни обучение, когда тебе удобно: поступить в Университет «МУИТ»
      </div>

      <div class="admission__desc-items">
          <div class="admission__desc-item">
              <div class="admission__desc-icon">
                  <img src="{% static 'img/icons/logo_on-text.svg' %}" alt="">
              </div>
              <div class="admission__desc-text">
                  Гранты на обучение
              </div>
          </div>
          <div class="admission__desc-item">
              <div class="admission__desc-icon">
                  <img src="{% static 'img/icons/logo_on-text.svg' %}" alt="">
              </div>
              <div class="admission__desc-text">
                  Предоставление общежития
              </div>
          </div>
          <div class="admission__desc-item">
              <div class="admission__desc-icon">
                  <img src="{% static 'img/icons/logo_on-text.svg' %}" alt="">
              </div>
              <div class="admission__desc-text">
                  Поступление через "Абитуриент - online"
              </div>
          </div>
          <div class="admission__desc-item">
              <div class="admission__desc-icon">
                  <img src="{% static 'img/icons/logo_on-text.svg' %}" alt="">
              </div>
              <div class="admission__desc-text">
                  Прием после 9 и 11 класса
              </div>
          </div>
          <div class="admission__desc-item">
              <div class="admission__desc-icon">
                  <img src="{% static 'img/icons/logo_on-text.svg' %}" alt="">
              </div>
              <div class="admission__desc-text">
                  Перевод из других вузов
              </div>
          </div>
          <div class="admission__desc-item">
              <div class="admission__desc-icon">
                  <img src="{% static 'img/icons/logo_on-text.svg' %}" alt="">
              </div>
              <div class="admission__desc-text">
                  Прием иностранных граждан
              </div>
          </div>
      </div>
  </div>
</div>