{% load static %}
<div class="catalog margin-bottom">
    <div class="container">
        <div class="catalog__items">         
            <div class="catalog__item catalog__item-form">
                <div class="h2 catalog__title text_blue">
                    Каталог Университета «МУИТ»
                </div>
                <form class="catalog__quition-form text_blue" method="post">
                    <div class="button flex-button bc_green catalog__button catalog__sumbit">
                        <a class="button a" href="/media/faculty/documents/catalog.pdf">
                            Скачать    
                        </a>
                    </div>      
                </form>
            </div>     
            <!-- <div class="catalog__welcome welcome">
                <img src="{% static 'img/header/calatog-img.jpg' %}" alt="" class="welcome__img">
            </div>   -->
        </div>
    </div>
</div> 