<section class="conference">
        <div class="container">
            <div class="conference-inner">
                <div class="conference__title text_blue h3">
                    ИННОВАЦИОННЫЕ ТЕХНОЛОГИИ И ПЕРЕДОВЫЕ РЕШЕНИЯ - диискуссионная площадка университета МУИТ со стейкхолдерами
                </div>
                <div class="conference__subtitle text_blue">
                    Международная межвузовская научно - практическая конференция научных докладов студентов и молодых ученых
                </div>
                <div class="footer__button button flex-button bc_green">
                    <a class="a" href="https://itpr.net.kg/">
                        Перейти
                    </a>
                </div>
            </div>
        </div>
</section>