<section class="enrollee">
    <div class="container">
        <div class="enrollee__content">
            <p class="enrollee__title h1 text_blue">
                Абитуриентам
            </p>

            <p class="enrollee__subtitle h2 text_blue">
                Прием документов в онлайн и офлайн режимах
            </p>
            <p class="enrollee__descr">
                Прием абитуриентов осуществляется с и без результатов ОРТ. 
            </p>
            <p class="enrollee__descr">
                МУИТ проводит вступительные 
                испытания только на творческие направления по предмету «Рисунок»
            </p>
            
            <div class="enrollee__form">
                <p class="enrollee__form-title h3 text_blue">Получить консультацию в приемной комиссии</p>
                
                <form class="hero__form" method="post">
                    {% csrf_token %}
        
                    {{ form.user }}
                    {{ form.phone }}
                    <div class="button flex-button theme-green catalog__button catalog__sumbit">
                        <button class="button theme-green" type="submit">Подать заявку</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</section>
  
  