<div class="for-enrollee">
    <div class="container for-enrollee__inner">
        <nav class="for-enrollee__navbar text_blue hidden-scroller">
            <nav class="for-enrollee__nav for-enrollee__nav_active h4" id="rule">
                Правила поступления
            </nav>
            <nav class="for-enrollee__nav h4" id="employment">
                Трудоустройство
            </nav>
            <nav class="for-enrollee__nav h4"  id="quitions">
                Часто задаваемые вопросы
            </nav>  
        </nav>
    </div>

    <div class="container for-enrollee__content text_blue">
        
        <div class="for-enrollee__employment">
            <div class="h3 for-enrollee__title">Трудоустройство</div>
            <p>
                    С 2015 года Университет сотрудничает с «Ассоциацией выпускников МУИТ, КОМТЕХНО и КИТЭ», которая
                помогает студентам и выпускникам правильно составить резюме, пройти собеседование и получить
                престижную работу в крупных компаниях. Наши партнеры (государственные организации и частные
                компании) принимают активное участие в улучшении качества образования, в организации стажировок и
                практик студентов, содействуют в трудоустройстве наших выпускников
            </p>
        </div>
        <div class="for-enrollee__rule">
            <div class="h3 for-enrollee__title">
                Правила поступления
            </div>
            <p>
                    В МУИТ принимаются граждане Кыргызской Республики и иностранные граждане, имеющие среднее общее,
                среднее профессиональное и высшее образование в соответствии с Законом Кыргызской Республики «Об
                образовании».
            </p>
            <p>
                    В МУИТ подготовка кадров ведется по многоуровневой системе образования, по которой в течение 4-х лет
                студенты получают базовое высшее образование на уровне бакалавриата. Затем 2 года отводится на получение
                высшего научно-педагогического образования (магистратура). Наряду с этими образовательными уровнями
                сохраняется традиционное высшее образование – выпуск дипломированных специалистов в течение 5 лет.
                Обучение ведется на русском языке, отдельные предметы на английском и кыргызском языках.
                С Правилами приема в МУИТ можно ознакомиться <a>по ссылке</a>
            </p>


            <div class="h3 for-enrollee__title">
                ОРТ и вступительные испытания
            </div>
            <p>
                    Зачисление абитуриентов на все формы обучения проводится с и без результатов ОРТ выше порогового балла по
                основным предметам. Результаты баллов по дополнительным предметам не требуются.
                На творческие специальности («Дизайн (по отраслям)», «Дизайн интерьера», «Дизайн одежды», «Графический
                дизайн») результаты ОРТ не обязательны, зачисление проводится по результатам вступительных испытаний по
                предмету «Рисунок».
            </p>
            <p>
                С Программой вступительного испытания по рисунку можно ознакомиться <a href="">по ссылке</a> 
            </p>


            <div class="h3 for-enrollee__title">
                Регистрация абитуриентов
            </div>
            <p>
                    Посещение Университета не требуется.
                Регистрация абитуриентов на направления требующих ОРТ (от 105 баллов и выше) осуществляется на сайте
                <a href="https://2020.edu.gov.kg/vuz">https://2020.edu.gov.kg/vuz</a> в период с 11 июля по 30 июля 2022 г.
            </p>
            <p>
                Регистрация абитуриентов на направление подготовки 570400 «Дизайн (профили: «Дизайн интерьера», «Дизайн
                одежды») не требующее результаты ОРТ осуществляется по ссылке (вставьте гиперссылку
                <a href="https://forms.gle/SmtUxYwHdWtwmmiGA">https://forms.gle/SmtUxYwHdWtwmmiGA</a>) в период с 12 июля по 20 августа 2022 г.
            </p>
            <div class="h3 for-enrollee__title">
                Перечень документов для поступления
            </div>
            
            
            <div class="h4 for-enrollee__subtitle">
                Для выпускников общеобразовательных школ:
            </div>
            <p>
                - аттестат о среднем общем образовании;<br>
                - 6 фотокарточек размером 3х4;<br>
                - паспорт, военный билет или приписное свидетельство;<br>
                - сертификат ОРТ (на творческие специальности ОРТ не требуется).
                Для выпускников колледжей:<br>
            </p>
            
            
            <div class="h4 for-enrollee__subtitle">
                Для выпускников колледжей:
            </div>
            <p>
                - диплом о среднем профессиональном образовании;<br>
                - 6 фотокарточек размером 3х4;<br>
                - паспорт, военный билет или приписное свидетельство.
            </p>


            <div class="h4 for-enrollee__subtitle">
                Для выпускников ВУЗов:
            </div>
            <p> 
                - диплом о высшем образовании;<br>
                - 6 фотокарточек размером 3х4;<br>
                - паспорт, военный билет или приписное свидетельство.
                Для студентов других вузов (при переводе):<br>
            </p>


            <div class="h4 for-enrollee__subtitle">
                Для студентов других вузов (при переводе):
            </div>
            <p>
                - академическая справка;<br>
                - аттестат о среднем общем образовании;<br>
                - 6 фотокарточек размером 3х4;<br>
                - паспорт, военный билет или приписное свидетельство.<br>
            </p>
        </div>

        <div class="for-enrollee__quitions">
            <div class="h3 for-enrollee__title">
                Часто задоваемые вопросы
            </div>
            {% for quition in quitions %}
                <div class="for-enrollee__quition-content">
                    <div class="for-enrollee__quition h4">
                        Вопрос
                    </div>
                    <p>
                        {{ quition.question|safe }}
                    </p>
                    <div class="for-enrollee__answer h4">
                        Ответ
                    </div>
                    <p>
                        {{ quition.answer|safe }}
                    </p>
                </div>
            {% endfor r%}
        </div>
    </div>

</div>


