{% load static %}
<div class="programs bottom">
    <div class="container">
        <div class="programs__title h2 text_blue">
            Программы обучения
        </div>
        <div class="programs__educations">
            <nav class="programs__education education"><a class="a a_green">Колледж</a></nav>
            <nav class="programs__education education"><a class="a a_green">Бакалавриат</a></nav>
            <nav class="programs__education education"><a class="a a_green">Магистратура</a></nav>
            <nav class="programs__education education"><a class="a a_green">Aспирантура</a></nav>
            <nav class="programs__education education"><a class="a a_green">Курсы</a></nav>
        </div>  
        <div class="programs__content">
            {% for profile in profiles %}
                <a href="" class="a">
                    <div class="program">
                        <div class="program__education" style="display: none;">
                            {{ profile.education }}
                        </div>
                        <div class="program__faculty text_blue">
                            <div class="program__faculty-title">{{ profile.faculty|lower|capfirst }}</div>
                            <div class="program__faculty-icon">
                                <img src="{% static 'img/icons/program.svg' %}" alt="" class="program__faculty-icon">
                            </div>
                            
                        </div>
                        <div class="program__title a_green h3">
                            {{ profile.title|lower|capfirst }}
                        </div>
                    </div>            
                </a>
            {% endfor %}
        </div>
        <div class="program__button">
            <div class="program__button-inner">
                <img src="https://img.icons8.com/ios-glyphs/90/000000/macos-maximize.png" class="program__button-icon" />
                <div class="program__button-text">
                    показать еще    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/header/programs.js' %}"></script>