<div class="quality-advice margin-top">
    <div class="container">
        <div class="quality-advice__title h2 text_blue">
            Административные подразделения
        </div>

        <div class="quality-advice__text text_blue">
            <p class="h3 quality-advice__subtitle">Основными направлениями деятельности Учебного управления:</p>
            <ul>
                <li>контроль и управление качеством образовательных программ;</li>
                <li>контроль и управление качеством организации учебного процесса;</li>
                <li>контроль и управление качеством работы профессорско-преподавательского состава.</li>
            </ul>
            
            <p class="h3 quality-advice__subtitle">Функции Учебного управления:</p>
            <ul>
                <li>
                    координация работ по созданию новых учебных планов в соответствии с ГОС ВПО;
                </li>
                <li>
                    контроль соответствия учебных планов с ГОС ВПО;
                </li>
                <li>
                    подготовка документаций по лицензированию и государственной аккредитации образовательных программ совместно с ответственными за учебную работу руководителями других структурных подразделений МУИТ;
                </li>
                <li>
                    контроль графика учебного процесса и выполнение учебных планов ВПО;
                </li>
                <ul>
                    <li>
                        контроль распределения и занятости аудиторного фонда;       
                    </li>
                    <li>
                        контроль планирования и организация всех видов практик студентов;
                    </li>
                    <li>
                        проведение работ по унификации организационно-распорядительной документации, регламентирующей организацию учебного процесса;
                    </li>
                    <li>
                        проведение работ по информатизации управления учебным процессом;
                    </li>
                    <li>
                        слежка и пополнение информаций на страничке Учебного управления на сайте МУИТ;
                    </li>
                    <li>
                        контроль движения контингента студентов;
                    </li>
                </ul>
                <li>
                    контроль учебной нагрузки профессорско-преподавательского состава (составление сводного расчета нагрузки и отчет о выполнении 
                    учебной нагрузки профессорско-преподавательским составом);
                </li>
                <li>
                    контроль оформления договоров на оказание преподавательских услуг (председателей и членов ГАК, руководство практикой), 
                    оплату работы преподавателей-почасовиков;
                </li>
                <li>
                    подготовка материалов для утверждения председателей ГАК и приказы по составу ГАК на основании предложений института МУИТ;
                </li>
                <li>
                    проведение мониторинга уровня знаний студентов совместно с институтами МУИТ.
                </li>
            </ul>

            <p class="h3 quality-advice__subtitle">Нормативные документы:</p>
            <ul>
                <li>
                    Положение Учебного управления;
                </li>
                <li>Регламент учебного процесса МУИТ;</li>
                <li>Правила внутреннего распорядка МУИТ;</li>
                <li>Должностная инструкция начальника Учебного управления;</li>
                <li>Должностная инструкция инспектора по работе со студентами;</li>
                <li>Должностная инструкция методиста Учебного управления;</li>
                <li>Должностная инструкция инспектора Учебного управления;</li>
                <li>Должностная инструкция  инспектора с персоналом.</li>
            </ul>

        </div>

        <div class="quality-advice__text text_blue">
            <p class="h3 quality-advice__subtitle">Сотрудники учебного управления МУИТ</p>
            <ul>
                <p>Начальник учебного управления МУИТ: Сапарбаева Анара Макеновна, 
                    тел.: <a href="tel:+996772124457">0772124457</a> 
                    WhatsApp: <a href="https://wa.me/+996772724457">0772 724 457</a>  
                    e-mail: <a href="mailto:anar_75@list.ru">anar_75@list.ru</a> 
                </p>
                <p>Старший инспектор по работе со студентами: Кыйсаева Б.Ж. 
                    e-mail: <a href="mailto:gule-huwgel@mail.ru">gule-huwgel@mail.ru</a> </p>
                <p>Инспектор по работе с персоналом: Колбаева М.Ш. 
                    тел.: <a href="tel:+999502343034">0502 343 034</a>
                </p>
                <p>Методист: Мырзабекова Э.М 
                    тел. <a href="tel:+999501880505">0501 880 505</a>, 
                    e-mail: <a href="mailto:elizat.1989@list.ru">elizat.1989@list.ru</a></p>
                <p>Инспектор: Ниязалиева Н. 
                    тел.: <a href="tel:+996703391434">0703 391 434</a>; 
                    e-mail: <a href="mailto:n.niyazalieva@inbox.ru">n.niyazalieva@inbox.ru</a>
                </p>
            </ul>
        </div>
    </div>
</div>