<div class="selection-committee-intro">
    <div class="container">
        <div class="selection-committee-intro__title h2 text_blue">
            Приемная комиссия
        </div>
        <div class="selection-committee-intro__text text_blue">
            Обучение на программах бакалавриата и специалитета в Университете «МУИТ» 
            производится в очной, заочной, дистанционной форме обучения. Квалификация бакалавра 
            получается за 4 года, длительность обучения на специалитете составляет 5−5,5 лет. 
            По окончанию обучения выдается диплом государственного образца.
        </div>
    </div>
</div>