<div class="selection-committee-intro">
    <div class="container">
        <div class="selection-committee-intro__title h2 text_blue">
            Приемная комиссия
        </div>
        <div class="selection-committee-intro__text text_blue">
            Продолжительность обучения на программах бакалавриата в МУИТ в очной форме - 4 года;
            заочной форме - 5 лет; программы специалитета в очной форме - 5 лет.  
            В профессорско - преподавательский состав входит и специалисты с проводства. 
            Успешно завершившим обучение выдается диплом государственного образца и приложением европейского качества образования
        </div>
    </div>
</div>