<div class="timetable margin-bottom">
    <div class="container">
        <div class="timetable__title h1 text_blue">
            Расписание
        </div>
        <div class="timetable__items hidden-scroller">
            <div class="timetable__item h4" id="1">Бакалавриат</div>
            <div class="timetable__item h4" id="2">Магистратура</div>
            <div class="timetable__item h4" id="3">Аспирантура</div>
        </div>

        <div class="timetable__content" id="e1">
            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTnk7p7R7wdvu86gHgECYLUNpQYVQaVUsYXt9CBdhZrFVT7zHbwwVFQfk0oQqjgIQ/pubhtml" class="a timetable__content-item">
                <div class="timetable__tb">
                    1 курс
                </div>
            </a>
            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmxqJcxT7HGEWuZNZnMf70ndYjYgWUNrzvNkAkpBr-2oXWChBBTwaUtZUxKBjVEQ/pubhtml" class="a timetable__content-item">
                <div class="timetable__tb">
                    2 курс
                </div>
            </a>
            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTOARZbGiedEuBTdzibA6aTghDrmlLvgp_WlYNzedpKuo5vgT6Zh95g6rXO2NmWlQ/pubhtml" class="a timetable__content-item">
                <div class="timetable__tb">
                    3 курс
                </div>
            </a>
            <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSpgPVSXNOXlPhvBmhj3nqVF8jQ_DR9LruujVIsgVWRD-wSZGos7WuCVdkKA3Owkw/pubhtml" class="a timetable__content-item">
                <div class="timetable__tb">
                    4 курс
                </div>
            </a>
        </div>
        <div class="timetable__content" id="e2">
            <a href="" class="a timetable__content-item">
                <div class="timetable__tb">
                    1 курс
                </div>
            </a>
            <a href="" class="a timetable__content-item">
                <div class="timetable__tb">
                    2 курс
                </div>
            </a>
            <a href="" class="a timetable__content-item">
                <div class="timetable__tb">
                    3 курс
                </div>
            </a>
            <a href="" class="a timetable__content-item">
                <div class="timetable__tb">
                    4 курс
                </div>
            </a>
        </div>
        <div class="timetable__content" id="e3">
            <a href="" class="a timetable__content-item">
                <div class="timetable__tb">
                    1 курс
                </div>
            </a>
            <a href="" class="a timetable__content-item">
                <div class="timetable__tb">
                    2 курс
                </div>
            </a>
            <a href="" class="a timetable__content-item">
                <div class="timetable__tb">
                    3 курс
                </div>
            </a>
        </div>
    </div>
</div>