main{
    margin-bottom: 100px;
}

.quiz{
    position: relative;


    max-width: 100%;

    min-height: 538px;
    padding: 30px 0;

    color: #E8EDF9;
}
@media screen and (max-width: 992px){
    .quiz{
        min-height: 411px;
    }
}

.quiz__title{
    color: inherit;
    
    margin-bottom: 42px;

    max-width: 70%;
}
@media screen and (max-width: 768px) {
    .quiz__title{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 992px) {
    .quiz__title{
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 768px) {
    .quiz__title{
        margin-bottom: 32px;
    }
}




.quiz__welcome{
    position: absolute;
    bottom: -35px;
    right: 18px;
}
@media screen and (max-width: 992px) {
    .quiz__welcome{
        position: absolute;
        right: 5%
    }
}
@media screen and (max-width: 576px) {
    .quiz__welcome{
        position: absolute;
        right: 10%;
    }
}


.quiz__item{
    display: none;
}

.quiz__quition{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 10px;
    
    align-items: center;

    font-size: 32px;
    line-height: 1.2;

    margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
    .quiz__quition{
        font-size: 28px;
    }
}
@media screen and (max-width: 768px) {
    .quiz__quition{
        font-size: 20px;
    }
}


.quiz__quition-left{
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid;
    border-radius: 100%;
}
@media screen and (max-width: 768px) {
    .quiz__quition-left{
        width: 20px;
        height: 20px;
    }
}
.quiz__quition:hover .quiz__quition-left::after{
    content: "";
    display: block;
    width: 60%;
    height: 60%;

    border-radius: 100%;

    background-color: #00956F;
}

.quiz__form{
    display: none;
}
