{% extends 'base.html'%}


{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/selection-committee/selection-committee-intro.css' %}">
    <link rel="stylesheet" href="{% static 'css/selection-committee/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/selection-committee/for-enrollee.css' %}">
{% endblock %}

{% block main %}
    <main>   
        {% include 'main/blocks/selection-committee-intro.html' %}
        {% include 'bases/programs.html' with profiles=programs %}
        {% include 'main/blocks/for-enrollee.html' with form=go_to quitions=quitions %}
        {% include 'bases/go-to-uniersity.html' with form=form %}
        {% include 'main/blocks/contact.html' %}
    </main>
{% endblock %}

{% block scripts %}
    {% load static%}
    <script src="{% static 'js/for-enrollee.js'%}"></script>
{% endblock %}