{% extends 'root.html' %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/faculty/faculties-intro.css' %}">
    <link rel="stylesheet" href="{% static 'css/faculty/teachers.css' %}">
{% endblock %}


{% block main %}
    <main>   
        {% include 'faculty/blocks/faculties-intro.html' with title=title details=title.detail.all desc=title.description%}

        {% if title.eduform.all.count > 0 %}
            {% include 'bases/edu-forms.html' with edu_forms=title.eduform.all %}
        {% endif %}

        {% if title.pk == 4 %}
            {% include 'bases/programs.html' with page=title title='Научные специальности' education=True %}
        {% else %}
            {% include 'bases/programs.html' with page=title title='Программы обучения' education=True %}
        {% endif %}


        {% if title and title.detail.all.count > 0  %}
            {% if title.pk == 3%}
                {% include 'faculty/blocks/teachers.html' with title='Преподаватели' teachers=title.teachers.all %}
            {% else %}
                {% include 'faculty/blocks/teachers.html' with title='Профессора' teachers=title.teachers.all %}
            {% endif %}
        {% endif %}
        
        {% if go_to %}
            {% include 'bases/go-to-uniersity.html' with form=go_to %}
        {% endif %}
        
        
        {% if title.special_abilities.all > 0 %}
            {% include 'bases/special-features.html' with special_features=title.special_abilities.all %}
        {% endif %}


        {% include 'bases/special-features.html' with special_features=sf %}
        
        {% include 'bases/catalog.html' %} 

        {% include 'bases/docs.html' with docs=title.documents.all %}

        {% include 'bases/diploms.html' %} 
    </main>
{% endblock %}


{% block scripts %}
    {% load static %}
    <script src="{% static 'js/faculty/faculty-list.js'%}"></script>
    <script src="{% static 'js/courses-modal.js'%}"></script>
{% endblock %}
