{% extends 'root.html' %}


{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/faculty/faculties-intro.css' %}">
    <link rel="stylesheet" href="{% static 'css/faculty/faculties-list.css' %}">
{% endblock %}


{% block main %}
<main>   
    {% include 'faculty/blocks/faculties-intro.html' with title=title%}
    {% include 'faculty/blocks/faculties-list.html'%}
    {% include 'bases/go-to-uniersity.html' with form=go_to %} 
    {% include 'bases/special-features.html' with special_features=sf %}
</main>
{% endblock %}


{% block scripts %}
    {% load static %}
    <script src="{% static 'js/faculty/faculty-list.js'%}"></script>
{% endblock %}
