.contact{
    background-color: #F3F6FD;
    padding-bottom: 50px;
}
.contact__title{
    margin-top: 20px;
}
.contact__items{
    display: flex;

    overflow: scroll;

    margin-top: 40px;
}
.contact__item{
    width: max-content;
    min-width: 300px;

    padding: 15px 10px;
    box-sizing:border-box;
}

.contact__item-title{
    margin-bottom: 10px;
}
@media screen and (max-width: 575px) {
    .contact__item{
        margin-top: 30px;

    }
    .contact__title{
        text-align: center;
    }
    .contact__item-text{
        margin-top: 20px;
    }
}