<section class="study">
    <div class="container">
        <h2 class="study__title">Обучение</h2>
        <div class="study__content">
            {% for course in courses %}
                <div class="study__item">
                    <h3 class="study__course">
                        {{ course.title }}
                    </h3>
                    <div class="study__details">
                        {{ course.description|linebreaks }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>