<section class="faculties">
    <div class="container">
        <div class="faculties__content">
            <h2 class="faculties__title">
                {{ title }}
            </h2>
            
            <div class="faculties__info">
                {% for detail in details %}
                    <div class="faculties__item">
                        {% if detail.image %}
                            <img
                                src="{{ detail.image.url }}"
                                alt=""
                            />
                        {% endif %}
                        <div class="faculties__right">
                            {% if detail.numeric %}
                                <div class="faculties__num">{{ detail.numeric }}</div>
                            {% endif %}
                            
                            {% if detail.title %}
                                <div class="faculties__text">
                                    {{detail.title  }}
                                </div>
                            {% endif %}

                        </div>
                        <h3 class="faculties__subtitle">
                            {{ item.subtitle }}
                        </h3>
                    </div>
                {% endfor %}
            </div>

            <div class="faculties__sector">
                {% for faculty in faculties%}
                    <div class="faculties__box col-4">
                        <a href="{{ faculty.get_absolute_url }}" target="_blank">
                            <img
                                src="{{ faculty.logo.url }}"
                                alt="{{ faculty.title }}"
                                class="faculties__logo"
                            />
                            <h2 class="faculties__name">
                                {{ faculty.title }}
                            </h2>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
