<!-- 
    profiles - набор профилей
    edu_title - описание уровня образования
-->
{% load static %}
<section class="cards">
    <div class="container">
        <h1>{{ edu_title }}</h1>
        <div class="cards__content">
            {% for profile in profiles %}
                <div class="cards__item">
                    <div class="cards__top">
                        <div class="cards__left">
                            <h3 class="cards__institut">
                                {{ profile.faculty }}
                            </h3>
                            <h2 class="cards__institut--item">
                                {{ profile.title }}
                            </h2>
                        </div>
                        <div class="cards__right">
                            <img class="cards__logo" src="{% static 'img/logo.png'%}" alt="">
                        </div>
                    </div>
                    <div class="cards__bottom">
                        <a class="cards__link" href="{{ profile.get_absolute_url }}"  target="_blank">
                            Перейти
                            <img class="cards__arrow" src="../assets/img/cards-arrow.png" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>