<div class="profile-program">
    <div class="container">
        <div class="profile-program__title h2 text_blue">
            Учебная программа
        </div>
        <div class="profile-program__items text_blue">
            {% for program in programs %}


                <div class="profile-program__item">
                    <div class="profile-program__item-title h3">
                        {{ forloop.counter}}-й курс
                    </div>
                    <div class="profile-program__item-content">
                        <p>
                            {{ program.description|linebreaks}}
                        </p>
                    </div>
                </div>
                <div class="profile-program__item">
                    <script type="text/javascript">
                        google.load("visualization", "1", {packages:["corechart"]});
                        google.setOnLoadCallback(drawChart);
                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Обучение', 'Обучение'],
                                ['Технические',     Number('{{program.scale1}}')],
                                ['Естественные',     Number('{{program.scale2}}')],
                                ['Гуманитарные',     Number('{{program.scale3}}')],
                            ]);
                            var options = {
                                pieHole: 1,
                                pieSliceTextStyle: {
                                    color: 'white',
                                },
                                chartArea: {
                                    top: '5%',
                                    width: '90%',
                                    height: '90%'
                                },
                                legend: 'left'
                            
                        };
                        var chart = new google.visualization.PieChart(document.getElementById('donut_single{{forloop.counter}}'));
                        chart.draw(data, options);
                        }
                    </script>
                    <div id="donut_single{{forloop.counter}}" class="profile-program__item-diagram"></div>
                
                </div>
            {% endfor %}

        </div>
    </div>    
</div>
