<section class="quiz">
    <div class="container">
        <div class="quiz__content">
            <h2 class="question">
                Вы склонны больше к профессиям?
            </h2>

            <ul class="answer">
                <li class="quiz__variant">
                    Гуманитарным
                </li>
                <li class="quiz__variant">
                    Техническим
                </li>
            </ul>
        </div>
        <form action="" method="post">
            <input class="quiz1 quiz__input" type="text" name="quiz1">
            <input class="quiz2 quiz__input" type="text" name="quiz2">
            <input class="quiz3 quiz__input" type="text" name="quiz3">
            <input class="quiz4 quiz__input" type="text" name="quiz4">
            <input class="quiz5 quiz__input" type="text" name="quiz5">
            <input class="quiz6 quiz__input" type="text" name="quiz6">
            <button class="quiz__form--btn">Узнать свою программу</button>
        </form>
    </div>
</section>