{% load static %}
<section class="skill">
    <div class="container">
        <div class="skill__content">
            <div class="skill__items">        
                {% for skill in skills %}  
                    <div class="skill__item" style="background-color: #43BA91;">
                        <div class="skill__left">
                            <img src="{% static 'img/skill-img.png' %}">
                        </div>
                        <div class="skill__right">
                            <h3 class="skill__name">
                                {{ skill.title}}
                            </h3>
                            <p class="skill__description">
                                {{ skill.description|linebreaks}}
                            </p>
                        </div>
                    </div>
                {% endfor %}       
            </div>
        </div>
    </div>
</section>