{% load qr_code %}
{% load tags %}
<div class="teachers margin-bottom">
    <div class="container">
        <div class="teachers__title h2 text_blue">
            {% if title %}
                {{ title }}
            {% else %}
                Преподаватели
            {% endif%}
        </div>
        <div class="teachers__content hidden-scroller_x">
            {% for teacher in teachers %}
                <a class="a" href="{{ teacher.get_absolute_url }}">
                    <div class="teacher text_blue">
                        <div class="teacher__imgs">
                            <div class="teacher__img">
                                <img src="{{ teacher.image.url }}" alt="" class="teacher__img-inner">
                                
                            </div>
                            {% qr_from_text teacher.get_absolute_url|website %}
                        </div>
                        <div class="teacher__title h4">
                            {{ teacher.name }}
                        </div>
                        <div class="teacher__text">
                            {{ teacher.description }}
                        </div>
                    </div>
                </a>
            {% endfor %}



        </div>
    </div>
</div>