<section class="will">
    <div class="container">
        <div class="will__content">
            <h2 class="place__title">
                Кем вы станете
            </h2>
            <div class="will__sector">
                <div class="will__description">
                {% for profession in professions %}
                
                    <b>{{ profession.title }}</b> {{ profession.description|linebreaks }} <br>
                {% endfor %}
                </div> 
            </div>
        </div>
    </div>
</section>