.page-desc__inner{
    display: grid;
    grid-template-columns: 1fr;

    grid-gap: 15px;

    padding: 65px 0 40px;
    padding-top: 0;
}
@media screen and (max-width: 768px) {
    .page-desc__inner{
        display: grid;
        grid-template-columns: 1fr;

        padding: 24px 0;
        padding-top: 0;
    }
}

.page-desc__inner > p{
    font-weight: 400;

    text-align: justify;

    margin: 10px;
}